


@media (min-width: 1000px) { 
	table {
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 1.5em;
		border-radius: 10px;
		border-spacing: 0;
		text-align: center;
		width: 100%;
		min-width: 800px;	
		padding: 0px;
		border-collapse:collapse;    
		margin: 0 auto;
		height: 100vh;
		min-height: 800px;
	}
}



th {
	background: #092756;
	color: white;
	text-shadow: 0 1px 1px #2D2020;
	padding: 10px 20px;
}
th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}
th:first-child, td:first-child {
	text-align: left;
}
th:first-child {
	border-top-left-radius: 10px;
}
th:last-child {
	border-top-right-radius: 10px;
	border-right: none;
	width: 50%;
}
td {
	padding: 0 20px;
	background: #F8E391;
}
tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}
tr td:last-child {
	border-right: none;
}

td.charts {
	padding: 0;
	text-align: center;
	width: 60%;
}

@media (max-width: 1000px) { 
    table {
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 1em;
		border-radius: 10px;
		border-spacing: 0;
		text-align: center;
		width: 100vw;
		/*min-width: 800px;	*/
		padding: 0px;
		border-collapse:collapse;    
		margin: 0 auto;
		/*height: 200vh;*/
		min-height: 800px;
	}

	html, body { 
	/*	min-height: 100vh;*/
		margin:0px;
		padding:0px;
	}

	td, th {
		/*min-height: 20vh;*/
	}

	td.charts {
		/*line-height: 50px;*/
		padding: 0;
		text-align: center;
		width: 60%;
		height: 20vw;
	}
}

@media (max-width: 500px) { 
    table {
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 0.7em;
		border-radius: 10px;
		border-spacing: 0;
		text-align: center;
		width: 100vw;
		/*min-width: 800px;	*/
		padding: 0px;
		border-collapse:collapse;    
		margin: 0 auto;
		/*height: 200vh;*/
		min-height: 800px;
	}

	html, body { 
	/*	min-height: 100vh;*/
		margin:0px;
		padding:0px;
	}

	td, th {
		/*min-height: 20vh;*/
	}

	td.charts {
		/*line-height: 50px;*/
		padding: 0;
		text-align: center;
		width: 70%;
		height: 30vw;
	}
}

